{% extends "_layout.html" %}
{% block content %}

<div class="container">
    
<h1>Users#edit</h1>

<form action="{{url_for('users.update', id = user.id )}}" method = "POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label>New Username</label>
    <input type="text" name="username" value="{{user.username}}"/>
    <label>New Email</label>
    <input type="email" name="email" value="{{user.email}}"/>
    <label>New Password (Leave it empty if maintain)</label>
    <input type="password" name="password"/>
    <input type="submit"/>
</form>

<br>
<hr>
<br>

<form action="{{url_for('users.upload', id = user.id )}}" method = "POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="user_file">Upload Avatar</label>
    <br></br>
    <input type="file" name="profile_image">
    <br></br>
    <button type="submit">Upload</button>
</form>

</div>
{% endblock %}
